# The name of the application
# If not provided a default title `Rust GraphQL Service` will be used.
APP_NAME="GraphQL Starter"

# The port this application will listen to
# If not provided a default port of `4000` will be used
PORT="4000"

# The connection url of the db
DATABASE_URL="postgresql://postgres:password@localhost:5432/graphql-starter"

# Log filter
RUST_LOG=rust_graphql_starter