# .env

# The name of the application
# If not provided a default title `Rust GraphQL Service` will be used.
APP_NAME="GraphQL Starter"

# The port this application will listen to
# If not provided a default port of `4000` will be used
PORT="4000"

# The connection url of the {db_url}/{db_name}
# In this case:
# db_url = postgresql://postgres:password@localhost:5432
# db_name = graphql-starter
DATABASE_URL="postgresql://postgres:password@localhost:5432/graphql-starter"