# The name of the application
# If not provided a default title `Rust GraphQL Service` will be used.
APP_NAME="GraphQL Starter"

# The port this application will listen to
# If not provided a default port of `4000` will be used
PORT="4000"

# The connection string for the postgres database
# e.x: postgresql://<username>:<password>@<host>/<db-name>
DB_URL="postgresql://postgres:password@localhost/graphql-starter"